body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px;
}

h1 {
    color: #333;
}

a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}

#ghLogo {
    text-decoration: none;
    background-color: white;
    margin: 0;
    padding: 2px;
    border-radius: 8px;
}

