<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Stats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>
    Welcome to Football Stats 
    <a href="https://github.com/exapeta/football" id="ghLogo" target="_blank">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" style="width: 50px; height: auto; vertical-align: middle;">
    </a>
    </h1>
    <a href="/top_scorers">Top Scorers</a>
    <a href="/top_assists">Top Assists</a>
    <a href="/average_passes">Average Passes Completed</a>
    <a href="/defensive_contributions">Top Defensive Contributions</a>
    <a href="/plot_goals">Goals Bar Plot</a>
</body>
</html>

